body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.bosluk {
    margin: 0;
}

.reklamAlani {
    display: flex;
    align-self: self-start;
    justify-self: center;
    width: 20%;
    margin-top: 4rem;
}

.ReklamKutusu {
    margin-top: 10%;
}

.reklamAlani .utts img {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 27%;
    transition: 1.5s;
}

.reklamAlani .utts img:hover {
    width: 60%;
    padding-left: 22%;
}

.reklamAlani .utts a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    text-decoration: none;
    font-size: 0.7rem;
    color: #1507df;
}

.reklamAlani .utts a:hover {
    color: #28492a;
    background: #888;
    border-radius: 1rem;
    margin-left: 8%;
    width: 80%;
    padding-top: 10%;
    padding-bottom: 10%;
}

.sigortaAlani {
    height: 200vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.tarih {
    font-size: 1rem;
    color: rgb(5, 24, 190);
    font-weight: bolder;
}



.sigortaAlani .tarihAlani {
    background: linear-gradient(to bottom, #0a8888, lightblue);
    height: 3rem;
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5rem;
    margin: 1% 0 5% 0;
}

.sigortaAlani .baslikAlani {
    background: linear-gradient(to bottom, #0a8888, lightblue);
    height: 4.1rem;
    width: 99%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5rem;
    margin: 1% 0 1% 0;
}

.sigortaAlani .baslikAlani .baslikKutusu {
    height: 4.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sigortaAlani .baslikAlani .baslikKutusu h1 {
    font-size: 0.6rem;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.radio {
    width: 90%;
    padding-left: 0.2rem;
    font-size: 1.2rem;
    border: 0.4rem double #0a8888;
    border-radius: 5rem;
    padding: 0.3rem;
    margin: 0 0.7rem 0.5rem 0.7rem;
    transition: ease-in-out 1s;
    box-shadow: 0 0.4rem 1.5rem rgba(0, 0, 0, 1);
}

.radio:hover {
    background: turquoise;
}

.secimler .yapi {
    border: 0.4rem groove #22b1b1;
    border-radius: 1rem;
    min-width: 20rem;
    margin: 1.5rem 0.5rem 0 0.5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.secimler .yapi p {
    font-size: 1.5rem;
    font-weight: bolder;
}

.secimler .yapi ol li {
    counter-increment: item;
    margin: -0.2rem 0;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    position: relative;
    list-style-type: none;
    transition: 0.5s;
    display: list-item;
}

.secimler .yapi ol li select {
    padding: 0.4rem;
    font-size: 1em;
    border-radius: 0.5rem;
    border: 0.2rem solid white;
    width: 95%;
    margin-top: -0.5rem;
    margin-bottom: 1rem;
    box-shadow: 1rem 1rem 3rem #171818;
}

.secimler .yapi ol p {
    font-size: 1.2rem;
}

#numberInput {
    margin-left: 0.5rem;
    padding: 1rem;
    font-size: 1em;
    border-radius: 0.5rem;
    border: 0.2rem solid white;
    width: 78%;
    margin-top: 0.1rem;
    margin-bottom: 1rem;
    box-shadow: 1rem 1rem 3rem #171818;
    height: 0.3rem;
}

.buttons {
    margin-top: 3rem;
    width: 100%;
    margin-left: 10%;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    padding-bottom: 3rem;
}

.buttons button {
    padding: 1rem 2rem;
    margin: 0 1rem;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 0.5rem;
    background: radial-gradient(circle, #0a8888, #b5f3c3);
    color: white;
    box-shadow: 0.5rem 0.5rem 1.5rem #171818;
    transition: 1s;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.acikama {
    padding: 0;
    margin: 0.1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aciklamaAlani {
    background-color: rgb(214, 72, 72);
    border-radius: 5px;
    padding-left: 2rem;
    padding-right: 2rem;
    color: rgb(206, 197, 179);
}

.no-yapi {
    display: none;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.calisma {
    margin: 2%;
    width: 100%;
    height: 100vh;
}

.calismaImg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 400px;
    margin: 5% 0 0 10%;
    box-shadow: 0 10px 10px 10px rgb(49, 48, 48);
    z-index: -1;
    box-sizing: border-box;
}

.calismaText {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    margin: -180px;
    color: #fefefe;
    font-size: 0.8rem;
}

.modalBoyut1 {
    font-size: 1rem;
}

.tavsiyeboyut {
    font-size: 2rem;
}

.modalp {
    font-size: 0.9rem;
}


/* Modal EKSİK SİGORTA KISMI */

.eksiksigortabutton {
    background-color: #4CAF50;
    /* Başlangıç arka plan rengi */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: 1s ease;
    /* Geçiş efekti */
    border-radius: 5px;
}

.eksiksigortabutton:hover {
    background-color: #28492a;
    /* Üzerine gelindiğinde değişen arka plan rengi */
    border-radius: 10px;
}

.modala {
    display: none;
    /* Modal başlangıçta gizli */
    position: fixed;
    /* Sayfanın üstüne sabitlenmiş */
    z-index: 1;
    /* Ön planda göster */
    left: 0;
    top: 0;
    width: 100%;
    /* Tam genişlik */
    height: 100%;
    /* Tam yükseklik */
    overflow: auto;
    /* İçeriği kaydır */
    background-color: rgb(0, 0, 0);
    /* Fallback rengi */
    background-color: rgba(0, 0, 0, 0.4);
    /* Siyah, saydam arka plan */
}

.modal-contenta {
    background-color: #fefefe;
    margin: 15% auto;
    /* Ortalar */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Genişlik */
    max-width: 600px;
    /* Maksimum genişlik */
    position: relative;
    display: flex;
    justify-content: center;
}

.closea {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 50px;
    font-weight: bolder;
    color: #f50909;
    cursor: pointer;
}

.closea:hover,
.closea:focus {
    color: #e98776;
    text-decoration: none;
    cursor: pointer;
}



@media only screen and (min-width: 650px) {


    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .sigortaAlani .baslikAlani .baslikKutusu h1 {
        font-size: 1rem;
    }

    .tarih {
        font-size: 1.3rem;
    }

    .radio {
        font-size: 1.1rem;
        min-width: 10rem;
    }

    .digeryapi {
        font-size: 0.9rem;
    }

    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-width: 10rem;
    }

    .secimler .yapi {
        min-width: 38rem;
        margin: 1.5rem 0.5rem 0.8rem 0.5rem;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    }

    .secimler .yapi p {
        font-size: 1.8rem;
        font-weight: bolder;
        margin-bottom: 2rem;
    }

    .calismaImg {
        width: 80%;
        margin: 5% 0 0 10%;
    }

    .calismaText {
        font-size: 1.3rem;
    }

    .modalBoyut1 {
        font-size: 2rem;
    }

    .tavsiyeboyut {
        font-size: 4rem;
    }

    .modalp {
        font-size: 1.5rem;
    }

    .reklamAlani {
        display: flex;
        align-self: start;
        width: 20%;
    }
    
    .ReklamKutusu {
        margin-top: 1rem;
    }
    
    .reklamAlani .utts img {    
        width: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        padding-left: 20%;
        transition: 1.5s;
    }
    
    .reklamAlani .utts a {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-top: 1rem;
        text-decoration: none;
        font-size: 1rem;
        padding-left: 35%;
    }
    
    .reklamAlani .utts a:hover {
        color: #28492a;
        background: #888;
        border-radius: 1rem;
        margin-left: 10%;
        padding-left: 18%;
        width: 100%;
        padding-top: 10%;
        padding-bottom: 10%;
    
    }

    .aciklamaAlani{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 60%;
    }

    .acikama{
        font-size: 1.2rem;
    }

    .modala{
        width: 100%;
    }

    .modal-contenta{
        width: 99%;
    }

    .modala .modal-contenta img{
        width: 100%;
    }
}

@media only screen and (min-width: 821px) {

    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .sigortaAlani .baslikAlani {
        width: 98%;
    }

    .sigortaAlani .baslikAlani .baslikKutusu h1 {
        font-size: 1.01rem;
    }

    .tarih {
        font-size: 1.8rem;
    }

    .radio {
        font-size: 2.1rem;
        min-width: 13rem;
    }

    .digeryapi {
        font-size: 1.1rem;
    }

    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-width: 10rem;
    }

    .secimler .yapi {
        min-width: 48rem;
        margin: 1.5rem 0.5rem 0.8rem 0.5rem;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    }

    .secimler .yapi p {
        font-size: 1.8rem;
        font-weight: bolder;
        margin-bottom: 2rem;
    }

    .buttons {
        width: 50%;
        margin-left: 10%;
    }

    .calismaImg {
        width: 80%;
        margin: 5% 0 0 10%;
    }

    .calismaText {
        font-size: 1.8rem;
    }

    .modalBoyut1 {
        font-size: 2.2rem;
    }

    .tavsiyeboyut {
        font-size: 4.3rem;
    }

    .modalp {
        font-size: 1.8rem;
    }

    .reklamAlani {
        display: flex;
        align-self: start;
        width: 20%;
        margin-top: 1.2rem;
        display: flex;
        align-self:flex-start;
    }
    
    .ReklamKutusu {
        margin-top: 35%;
    }
    
    .reklamAlani .utts img {
        width: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        padding-left: 12%;
        transition: 1.5s;
    }
    
    .reklamAlani .utts img:hover {
        width: 120%;
        padding-left: 22%;
    }
    
    .reklamAlani .utts a {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-top: 1rem;
        text-decoration: none;
        font-size: 1.5rem;
        padding-left: 22%;

    }
    
    .reklamAlani .utts a:hover {
        color: #28492a;
        background: #888;
        border-radius: 1rem;
        width: 85%;
        padding-top: 10%;
        padding-bottom: 10%;
        padding-left: 20%;    
    }
    
    .aciklamaAlani{
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .acikama{
        font-size: 2rem;
    }

}
